.contact h1 {
    font-size: 5em;
    text-align: center;
    padding: 20px;
    color: black;
}

.container {
  padding: 20px;
  color: black;
}

.summary {
  font-size: 20px;
}

.resume__container {
  margin-left: 15%;
  margin-right: 15%;
}

.resume__container h5 {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.resume__container p {
  color: black;
}
  
.resume__container h2 {
    background-color: black;
    padding: 0.8%;
    color: white;
}
  
  
.resume__container a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.flatiron h2 {
    color: pink !important;
}

.bullet {
  display: flex;
  padding: 5px;
}

.bullet span {
  color: black;
  margin-top: 3px;
  font-size: 30px;
}

.bullet p {
  text-align: left !important;
  padding: 5px;
  margin: 0;
  margin-left: 1%;
}

.project__container h3 {
  color:black;
}


