.contact h1 {
  font-size: 5em;
  text-align: center;
  padding: 20px;
  color: black;
}

.container {
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.summary {
  font-size: 20px;
}

.resume__container {
  margin-left: 15%;
  margin-right: 15%;
}

.resume__container h5 {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}

.resume__container p {
  color: black;
}
  
.resume__container h2 {
    background-color: black;
    padding: 0.8%;
    color: white;
}
  
  
.resume__container a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.flatiron h2 {
    color: pink !important;
}

.bullet {
  display: flex;
  padding: 5px;
}

.bullet span {
  color: black;
  font-size: 30px;
  padding: 1px;
}

.bullet p {
  text-align: left !important;
  padding: 5px;
  margin: 0;
}

.project__container {
  padding-bottom: 1%;
  margin-bottom: 3%;
  display: inline-block;
  position: relative;
}

.project__container a {
  font-size: 24px;
}

.project__container a:hover {
  position: absolute;
  font-size: 80px;
  transition: 0.5s;
}

.project__container::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.project__container:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project__container h3 {
  color:black;
}

.education {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.education h3 {
  color: black;
}


