* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

body {
  background-color: #232323;
}

/* NAV BAR START */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #121212;
  border-bottom: 0.5px solid #343434;
}

.logo {
  margin-left: 2%;
  letter-spacing: 5px;
  font-size: 24px;
  border: 2px solid white;
  border-radius: 10%;
  padding: 3px;
}

.logo:hover {
  transition: 0.3s ease;
  color: #343434;
  border-color: #343434;
}

.navbar__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}

.navbar__list li:hover {
  transition: 0.3s ease;
  color: #343434;
  border-color: #343434;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
}


@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar__list {
    width: 30%;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid #343434;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .navbar__list li {
    opacity: 0;
  }

  .burger {
    cursor: pointer;
    margin-right: 5%;
    display: block;
  }

  .burger div {
    transition: all 0.3s ease;
  }

  .resume__container h2 {
    color: black;
    text-align: center;
  }

}

.nav__active {
  transform: translateX(0%);
}

.navbar__li__active li {
  opacity: 1;
  color: white;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.line2 {
  opacity: 0;
}

.line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* NAV BAR END */

/* RESUME START */
.resume__container {
  background-color: white;
  width: 100vw;
  height: 100%;
  color: black;
}

.resume__name {
  font-size: 54px;
  text-align: center;
  padding: 20px;
  color: black;
}

.resume__container h5 {
  color: black;
  text-align: center;
}

.resume__container h2, h3, li, p, i {
  color: black;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}

.resume__container h3 {
  margin-top: 2%;
}

.resume__container p {
  margin-top: 2%;
  line-height: 6vh;
}

.resume__container i {
  margin-top: 2%;
  font-size: 18px;
}

/* RESUME END */
